:root {
    --title-color: rgba(42, 42, 182, 0.822);
    --title-shadow: 2px 2px 4px rgba(65, 65, 65, 0.218);
    --text-color: rgba(4, 4, 113, 0.822);
    --text-shadow: 2px 2px 2px rgba(123, 123, 123, 0.118);
    --input-settings-color: rgba(4, 4, 113, 0.533);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
     /* border: 1px solid red; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{ 
height: 100%; 
} 
 
body{ 
min-height: 100%; 
max-height: 100vh;
max-width: 100vw;
} 

body {
    overflow: hidden;
    background: linear-gradient(-45deg, lightblue, white);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* =====================================================*/
#best-score-container {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 26px;
}

/* =====================================================*/
/* Dsiplay flex call at the end of the page for the "mystic disparition" on start */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 12px;

    h1 {
        font-size: 50px;
        margin: 12px 0;
        color: var(--title-color);
        text-shadow: var(--title-shadow);
    }

    .range-container {
        margin: 12px 0;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        label {
            margin-bottom: 6px;
            font-size: 26px;
        }

        input[type="range"] {
            margin-top: 6px;
            width: 200px;
        }
    }
}

/* Less repeat */
label,
#best-score-container, #encouragingDisplay {
    color: var(--title-color);
    font-weight: bold;
    text-shadow: var(--text-shadow);
}

/* =====================================================*/
/* shiny effect on the start button */
@keyframes btnAnim {
    0% {
        background: linear-gradient(rgba(0, 0, 255, 0.543) 5%, transparent 5%, transparent 100%);
    }

    5% {
        background: linear-gradient(transparent 3%, rgba(0, 0, 255, 0.543) 10%, transparent 12%, transparent 100%);
    }

    10% {
        background: linear-gradient(transparent 7%, rgba(0, 0, 255, 0.543) 15%, transparent 17%, transparent 100%);
    }

    15% {
        background: linear-gradient(transparent 13%, rgba(0, 0, 255, 0.543) 20%, transparent 22%, transparent 100%);
    }

    20% {
        background: linear-gradient(transparent 18%, rgba(0, 0, 255, 0.543) 25%, transparent 27%, transparent 100%);
    }

    25% {
        background: linear-gradient(transparent 23%, rgba(0, 0, 255, 0.543) 30%, transparent 32%, transparent 100%);
    }

    30% {
        background: linear-gradient(transparent 28%, rgba(0, 0, 255, 0.543) 35%, transparent 37%, transparent 100%);
    }

    35% {
        background: linear-gradient(transparent 33%, rgba(0, 0, 255, 0.543) 40%, transparent 42%, transparent 100%);
    }

    40% {
        background: linear-gradient(transparent 38%, rgba(0, 0, 255, 0.543) 45%, transparent 47%, transparent 100%);
    }

    45% {
        background: linear-gradient(transparent 43%, rgba(0, 0, 255, 0.543) 50%, transparent 48%, transparent 100%);
    }

    50% {
        background: linear-gradient(transparent 48%, rgba(0, 0, 255, 0.543) 55%, transparent 57%, transparent 100%);
    }

    55% {
        background: linear-gradient(transparent 57%, rgba(0, 0, 255, 0.543) 60%, transparent 62%, transparent 100%);
    }

    60% {
        background: linear-gradient(transparent 58%, rgba(0, 0, 255, 0.543) 65%, transparent 63%, transparent 100%);
    }

    65% {
        background: linear-gradient(transparent 63%, rgba(0, 0, 255, 0.543) 70%, transparent 72%, transparent 100%);
    }

    70% {
        background: linear-gradient(transparent 68%, rgba(0, 0, 255, 0.543) 75%, transparent 77%, transparent 100%);
    }

    75% {
        background: linear-gradient(transparent 73%, rgba(0, 0, 255, 0.543) 80%, transparent 82%, transparent 100%);
    }

    80% {
        background: linear-gradient(transparent 78%, rgba(0, 0, 255, 0.543) 85%, transparent 87%, transparent 100%);
    }

    85% {
        background: linear-gradient(transparent 83%, rgba(0, 0, 255, 0.543) 90%, transparent 92%, transparent 100%);
    }

    90% {
        background: linear-gradient(transparent 88%, rgba(0, 0, 255, 0.543) 95%, transparent 97%, transparent 100%);
    }

    95% {
        background: linear-gradient(transparent 93%, rgba(0, 0, 255, 0.543) 100%);
    }

    100% {
        background: linear-gradient(transparent 100%, rgba(0, 0, 255, 0.543));
    }

}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    width: 100%;
}


.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 120px 20px 10px 20px;

    button {
        height: 80px;
        width: 80px;
        font-size: 1.2em;
        font-weight: bold;

        border-left: 4px solid rgb(102, 102, 234);
        border-top: 4px solid rgb(102, 102, 234);
        border-right: 5px solid rgba(5, 5, 101, 0.741);
        border-bottom: 5px solid rgba(5, 5, 101, 0.632);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.437);
        border-radius: 50%;
        background: rgb(223, 223, 238);
        color: rgba(42, 42, 182, 0.822);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.253);

        position: relative;
        cursor: pointer;
    }

    button:active {
        border-left: 5px solid rgba(5, 5, 101, 0.741);
        border-top: 5px solid rgba(5, 5, 101, 0.632);
        border-right: 4px solid rgb(102, 102, 234);
        border-bottom: 4px solid rgb(102, 102, 234);
    }

    button::after {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;

        width: 100%;
        height: 100%;
        rotate: 45deg;
        border-radius: 50%;
        background: transparent;

    }

    button:hover::after {
        animation: btnAnim 0.3s ease-in-out forwards;
    }
}

main figure {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
        width: auto;
    }
}

#encouragingDisplay{
    margin:0 12px;
    font-size: 1.4rem;
}


/* The heart of the app, the bubbles created in JS  */
/* =====================================================*/
@keyframes bubbleAnim {
    from {
        filter: hue-rotate(0deg);
        bottom: -200%;
        left: var(--leftFromAnim);
    }

    to {
        filter: hue-rotate(var(--hueRotateAnim));
        bottom: 200%;
        left: var(--leftToAnim);
    }
}

.bubbles {
    opacity: 0.5;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    filter: hue-rotate(0deg);
    background: green;
    cursor: crosshair;
}

.slow {
    animation: bubbleAnim 9s linear forwards;
}

.medium {
    animation: bubbleAnim 6s linear forwards;
}

.fast {
    animation: bubbleAnim 5s linear forwards;
}

.sonic {
    animation: bubbleAnim 4s linear forwards;
}

@keyframes goldenBubbleAnim{
    from {
        bottom: -200%;
        left: var(--leftFromAnim);
    }

    to {
        bottom: 200%;
        left: var(--leftToAnim);
    }
}

.bubbles.golden{
    background:  linear-gradient(135deg, #ffd447, #d19600);
    border: 1px solid #ffc91a;
    box-shadow: 0 2px 8px #ffc505;
    opacity: 1;
    filter: none;
}

.bubbles.golden.slow {
    animation: goldenBubbleAnim 8s linear forwards;
}

.bubbles.golden.medium {
    animation: goldenBubbleAnim 5s linear forwards;
}

.bubbles.golden.fast {
    animation: goldenBubbleAnim 4s linear forwards;
}

.bubbles.golden.sonic {
    animation: goldenBubbleAnim 3s linear forwards;
}

@keyframes particleAnimation {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 0.8;
    }

    100% {
        transform: translate(var(--x), var(--y)) scale(0);
        opacity: 0;
    }
}

.particle {
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgba(46, 46, 241, 0.835);
    border-radius: 50%;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.particle.golden{
    width: 8px;
    height: 8px;
    background:  linear-gradient(135deg, #ffd447, #d19600);
    border: 1px solid #ffc91a;
    box-shadow: 0 2px 8px #ffc505;
}

.confettis {
    position: absolute;
    z-index: -1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(var(--confettiColor), var(--confettiColor), 237, 0.835);

    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}



/* ========================================== */
/* This one annoyed , have a good day */
@media screen and (max-width: 900px) {
    #best-score-container {
        top: calc(100% - 50px);
        right: 24px;
    }
}

/* =====================================================*/
/* Reduce margins?... */
@media screen and (max-width: 600px) {

    #best-score-container {
        top: calc(100% - 36px);
        font-size: 16px;
    }

    header * {
        transform: scale(0.8);
    }

    #btn-container * {
        transform: scale(0.8);
    }
}

/* ========================================== */
/* Hide instructions and start button onclick ,*/
.to-hide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}